.container{
    text-align: center;
    margin-top: 20px;
}

table{
    margin: auto;
}

input{
    border-radius: 20px;
    border: 4px solid rgb(4, 20, 19);
    font-size: 34px;
}

button{
    border-radius: 80px;
    font-size: 40px;
    background: rgb(236, 120, 43);
    width :102px;
    height: 58px;
}

.calculator{
    
    border-radius: 53px;
    display: inline-block;
}

