.container{
    text-align: center;
    margin-top: 20px;
}

table{
    margin: auto;
}

input{
    border: 2px solid rgb(4, 20, 19);
    font-size: 34px;
}

button{
    font-size: 40px;
    background: rgb(26, 238, 220);
    width :102px;
    height: 58px;
}

